<Doc>
   <records>${table.record.size()}</records>
   <table>
   #foreach ($record in $table.record) 
      <record>
         <name>$record.name</name>
         <project>$record.project</project>
         <version>$record.version</version>
      </record>
   #end
   </table>
</Doc>
