<?xml version="1.0" encoding="UTF-8"?>
<PDS xmlns="http://pds.nasa.gov/schema/pds4/ppi/V01"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://pds.nasa.gov/schema/pds4/ppi/V01 file:/C:/My%20Documents/PDS/PDS4/Release%201d%20-%20Review/ppi/pds-product.xsd">
    <Product_Observational>
        <Data_Standards xmlns="http://pds.nasa.gov/schema/pds4/pds/v05">
            <dd_version_id></dd_version_id>
            <std_ref_version_id></std_ref_version_id>
        </Data_Standards>
        <Identification_Area_Product xmlns="http://pds.nasa.gov/schema/pds4/pds/v05">
            <logical_identifier>URN:NASA:PDS:$label.DATA_SET_ID:$label.PRODUCT_ID</logical_identifier>
            <version_id></version_id>
            <product_class></product_class>
            <title></title>
            <type></type>
        </Identification_Area_Product>
        <Cross_Reference_Area_Product xmlns="http://pds.nasa.gov/schema/pds4/pds/v05">
            <Observing_System>
                <description></description>
                <Observing_System_Component>
                    <name>$label.INSTRUMENT_HOST_NAME</name>
                    <observing_system_component_type></observing_system_component_type>
                </Observing_System_Component>
            </Observing_System>
        </Cross_Reference_Area_Product>
        <Observation_Area xmlns="http://pds.nasa.gov/schema/pds4/pds/v05">
            <start_date_time>$label.START_TIME</start_date_time>
            <stop_date_time>$label.STOP_TIME</stop_date_time>
        </Observation_Area>
        <File_Area_Observational xmlns="http://pds.nasa.gov/schema/pds4/pds/v05">
            <File>
                <file_name></file_name>
            </File>
#foreach ($table in $label.TABLE)
            <Table_Base>
                <local_identifier></local_identifier>
                <encoding_type>$table.INTERCHANGE_FORMAT</encoding_type>
                <fields>$table.COLUMN.size()</fields>
                <offset></offset>
                <record_length>$table.ROW_BYTES</record_length>
                <records>$table.ROWS</records>
                <Table_Record>
#foreach( $column in $table.COLUMN) 
   #if ($column.ITEMS) ## If ITEMs exist handle this way
                    <Table_Bit_Field>
                        <name>$column.NAME</name>
                        <data_type>$column.DATA_TYPE</data_type>
                        <field_length>$column.BYTES</field_length>
                        <field_location>$column.START_BYTE</field_location>
                    </Table_Bit_Field>
   #else ## Handle as a binary field
                    <Table_Binary_Field>
                        <name>$column.NAME</name>
                        <data_type>$column.DATA_TYPE</data_type>
                        <field_length>$column.BYTES</field_length>
                        <field_location>$column.START_BYTE</field_location>
                    </Table_Binary_Field>
   #end
#end
                </Table_Record>
            </Table_Base>
#end
        </File_Area_Observational>
    </Product_Observational>
</PDS>