<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<?xml-model href="http://pds.nasa.gov/pds4/pds/v03/PDS4_PDS_1101.sch" schematypens="http://purl.oclc.org/dsdl/schematron"?> 
<Doc
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ds="http://pds.nasa.gov/pds4/mgs/v00"
    xsi:schemaLocation="http://pds.nasa.gov/pds4/mgs/v00 http://pds.nasa.gov/pds4/mgs/v00/mgs_0_0.xsd"
   >
   <ds:name>$cdf.filename</ds:name>
   <copyright>$cdf.copyright</copyright>0
   <version>$cdf.version</version>
</Doc>
